{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block content %}
<div class="uk-flex uk-flex-center">
    <div class=" uk-card uk-card-default uk-card-body uk-box-shadow-xlarge">
        <form method="post" class="uk-form-horizontal uk-width-1-1">
            {% csrf_token %}
            <h2 class="uk-margin-small">Login</h2>
            {% for field in form %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="{{ field.id_for_label}}">{{ field.label}}</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <span class="uk-form-icon" {% if field.html_name == 'username' %}uk-icon="icon: user"{% else %}uk-icon="icon: lock"{% endif %}></span>
                            <input class="uk-input" required {% if field.html_name == 'username' %}type="text" {% else %}type="password"{% endif %} name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                        </div>
                    </div>
                </div>
                {{ field.errors }}
            {% endfor %}
            <button type="submit" class="uk-button uk-button-default" style="background-color: green; color: white">Login</button>
            <p>If you don't have an account <a href="{% url 'profile:register' %}">register here</a></p>
        </form>
    </div>
</div>
{% endblock %}