{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block navright %}
    {% if user.is_authenticated %}
        <li>
            <a href="{% url "detail" %}">{{ user.first_name }} {{ user.last_name }}</a>
            <div class="uk-navbar-dropdown" uk-dropdown="pos: top-right">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    {% if user.is_admin %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                </ul>
            </div>
        </li>
    {% else %}
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="uk-container uk-container-small">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-large uk-card-default uk-card-hover uk-card-body">
                    {% for user in hairdressers %}
                        {{ user.user_id.email }}
                        {{ user.hairstyle_id.price }}
                    {% endfor %}
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Planned appointments</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        {% for item in orders %}
                            {{ item.appointment_date }}
                        {% endfor %}
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Plan appointments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}