{% extends 'layout.html' %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="uk-container uk-container-small">
        <div class="uk-card uk-card-default uk-box-shadow-xlarge uk-card-large uk-card-body uk-margin-medium-bottom">
            <h1>Account details</h1>
            <table class="uk-table uk-table-divider uk-table-responsive">
                <tbody>
                    <tr>
                        <td><b>Name</b></td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <td><b>Mobile number</b></td>
                        <td>{{ user.mobile_nr }}</td>
                    </tr>
                    <tr>
                        <td><b>Loyalty points</b></td>
                        <td>{{ user.loyalty_points }}</td>
                    </tr>
                </tbody>
            </table>
            <p uk-margin>
                <a class="uk-button uk-button-primary" href="{% url 'edit_account' user.pk %}">Edit</a>
{#                <a class="uk-button uk-button-danger" href="{% url 'account_delete' user.pk %}">Delete</a>#}
                <button uk-toggle="target: #delete"  class="uk-button uk-button-danger" type="button">Delete</button>
            </p>
        </div>
    </div>

    <div id="delete" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Delete account</h2>
            <p>Are you sure you want to delete your account <b>this change in irreversible</b></p>
            <form method="post" action="{% url 'account_delete' user.pk %}">
                {% csrf_token %}
                {{ form }}
                <label>Confirm password</label>
                <input class="uk-input uk-form-small" type="password" required name="password" id="id_password">
                <p class="uk-text-right">
                    <button type="submit" class="uk-button uk-button-danger">Delete</button>
                    <button class="uk-modal-close uk-button uk-button-primary" type="button">Cancel</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}